.App {
	text-align: center;
}

.App-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #282c34; /* @TODO: Variable */ /* stylelint-disable-line */
	font-size: calc(10px + 2vmin);
	color: white; /* @TODO: Variable */ /* stylelint-disable-line */
}
